* {
    color: white;
}

body {

    background-color: limegreen;

}

#la {
    background-color: green;
    justify-content: center;
    display: flex;
}
#pw{
    width: 70px; height: 70px;
}

#po{
    align-items: center;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.oi{
    width: 100px;
}

.class{
    display: flex;
    width: 200px;
    height: 200px;
    border: 5px solid darkgreen;
    float: left;
    margin: 5px;
    padding: 3px;
}

.notice{
    border: 5px solid black;
    padding: 3px;
}

#jua{
    justify-content: space-around;
    display: flex;
}
#ri{
    border: 3px solid grey;
}
#pro{
    display: flex;
    gap: 50px;
    border: 3px solid black;
    padding: 4px;
    background-color: darkgreen;
}

#ResJogs{
    display: flex;
    gap: 50px;
    width: 100%;


}
/* aqui é um comentário em css*/
.ResJogs{
    display: flex; 
    gap: 5px;
    align-items: top;
    border: 3px solid black;
    padding: 5px;
    height: 53px;
    align-items: center;
    margin: 5px;
    background-color: darkolivegreen;
    border-radius: 10px;
}
.imgRes{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px
}
#imagem{
    height: 225px;
    width: auto;
    border: 5px solid darkgreen;
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
}
.ResJogs2{
    display: flex; 
    gap: 5px;
    border: 3px solid black;
    padding: 5px;
    height: 53px;
    align-items: center;
    margin: 5px;
    background-color: darkolivegreen;
    border-radius: 10px;
}
#ResJogs2{
    display: flex;
    gap: 50px;
    width: 100%;

}
#tudo{
    display: flex;
}
#lala{
    text-align: center;
}